# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.virtualenv/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
*.out

# OS-specific files
.DS_Store
Thumbs.db

# Python package files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.cache
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
